body{
    font-size:1.2em;
    font-family: 'Source Sans Pro', sans-serif;
}
.page-header{
    margin:0 !important;
    padding-left:8px;
    border-bottom: none;
}
h1{
    font-size:4rem;
    font-weight: 100;
}
.element-list li{
    word-wrap:break-word;
}
.list-group a {
  mix-blend-mode: multiply;
}

.time{
    display:block;
    float:right;
    color:gray;
    font-size:0.8em
}

.path{
    word-wrap:break-word;
}

.sha1{
    text-decoration:underline;
}


.list-group-item {
    border-radius: 0 !important;
    padding:15px;
}

.panel{
    border-radius: 0 !important;
}